body {
	background-image: url("tictactoe_images/space.jpg");
	position: relative;
}
#container {
	position: relative;
	height: 600px;
	width: 600px;
	background-color: black;
	margin-top: 2%;
	margin-left: auto;
	margin-right: auto;
	border: 24px solid #FFE81F;
	border-radius: 1%;
}

.verticalLines {
	position: absolute;
	background-color: #FFE81F;
	height: 100%;
	width: 3%;
}

#verline1 {
  left: 33%;
}

#verline2 {
	left: 66%;

}

.horizontalLines {
	position: absolute;
	background-color: #FFE81F;
	width: 100%;
	height: 3%;
}

#horline1 {
	top: 33%;
}

#horline2 {
	top: 66%;
}


.img {
	position: absolute;
	height: 100%;
	width: 100%;
}
#box1DIV {
	position: absolute;
	height: 33%;
	width: 33%;
}

#box2DIV {
	position: absolute;
	height: 33%;
	width: 30%;
	left: 36%;
}
#box3DIV {
	position: absolute;
	height: 33%;
	width: 31%;
	left: 69%;
}

#box4DIV {
	position: absolute;
	height: 30%;
	width: 33%;
	top:36%;
}

#box5DIV {
	position: absolute;
	height: 30%;
	width: 30%;
	left: 36%;
	top: 36%;
}
#box6DIV {
	position: absolute;
	height: 30%;
	width: 31%;
	left: 69%;
	top: 36%;

}

#box7DIV {
	position: absolute;
	height: 31%;
	width: 33%;
	top:69%;
}

#box8DIV {
	position: absolute;
	height: 31%;
	width: 30%;
	left: 36%;
	top: 69%;
}
#box9DIV {
	position: absolute;
	height: 31%;
	width: 31%;
	left: 69%;
	top: 69%;

}

#resetButton {
position: absolute;
height: 45px;
width: 129px;
top: 7%;
left: 5.5%;
border-radius: 10%;
color: white;
border: 10px solid rgba(128, 128, 128, 0.81);
background-color: rgba(255, 232, 31, 0.62);
}

#reset {
	position: absolute;
color: black;
margin-left: auto;
left: 8%;
top: -56%;
font-family: starjedi;
}

#yodaWins {
	color: rgb(22, 182, 22);
font-family: starjedi;
font-size: 100px;
position: absolute;
left: 16%;
top: 36%;
}

#darthWins {
	color: rgb(185, 0, 0);
font-family: starjedi;
font-size: 85px;
position: absolute;
left: 5%;
top: 36%;
}

#tieGame {
	color: #36B8D7;
font-family: starjedi;
font-size: 100px;
position: absolute;
left: 37.5%;
top: 36%;
}

#force {
	color: #36A2D7;
font-family: starjedi;
font-size: 100px;
position: absolute;
left: 3.5%;
top: 16%;
text-align: center;
z-index: 2;
}
#musicOnOffButton {
	position: absolute;
height: 45px;
width: 129px;
top: 22%;
left: 5.5%;
border-radius: 10%;
color: white;
border: 10px solid rgba(128, 128, 128, 0.81);
background-color: rgba(255, 232, 31, 0.62);
}

#musicOnOff {
	position: absolute;
color: black;
margin-left: auto;
left: 10%;
top: -9%;
font-family: starjedi;
font-size: 103%;
}